# Python temp file
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/

# dataset file
*.h5ad
*.h5
*.hdf
*.h5seurat
*.sasql
*.db
*.wal
*.tmp
*.zip
*.importing
*.sasql
*.parquet
*.duckdb

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# R
.Rhistory
.Rprofile
renv/

# temp file
*.log
*.tmp
*.bak
*~

# building package related temp file
*.egg-info/